<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title,post %></td>
        <td><%= post.content %></td>
        <td><%= post.user.email %></td>
        <td>
        <% if post.user == current_user %>
         <%= link_to '', edit_post_path(post),class: "btn btn-default fa fa-pencil" %>
         <%= link_to '', post, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger fa fa-trash"  %>
         <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' 新增文章', new_post_path,class: "btn btn-success fa fa-plus" %>
